body{
  background-color: antiquewhite;
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  justify-content: center;
}

.body{
  background-color: white;
  display: flex;
  width: 80vw;
}

a{
  text-decoration: none;
}

a:visited{
  color: blue;
}

#image{
  position: relative;
  width: 50%;
  background-image: url("./daniil-korbut-xNc4mGTOPNc-unsplash.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.odin{
  position: absolute;
  background-color: rgba(196, 193, 224, 0.5);
  top: 10rem;
  width: 100%;
  height: 5rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  color: lightgoldenrodyellow;
  text-align: center;
  padding: 0.5rem;
}

#logo{
  font-size: 2rem;
  color:lightgoldenrodyellow;
  opacity: 1;
}

p{
  font-size: 1.5rem;
  margin-left: 2rem;
}

p + p{
  margin-top: 0;
}

em{
  font-weight: bolder;
}

#form{
  width: 50%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.empty-space{
  height: 4rem;
}

form{
  margin-left: 2rem;
}

.fieldset{
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 100%;
}

.section{
  display: flex;
  gap: 4rem;
}

label{
  font-weight: bold;
}

input{
  width: 14vw;
}

input+label{
  margin-left: 10rem;
}

.section+div{
  margin-top: 2rem;
}

.section:last-child{
  margin-bottom: 1rem;
}

.label-input{
  display: flex;
  flex-direction: column;
}

button{
  font-size: 1.2rem;
  font-family: 'Cormorant Garamond', serif;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: rgba(196, 193, 224);
  border: none;
}

button:hover{
  background-color: #afadc8;
}

div + button{
  margin-top: 1rem;
}