body{
  display: flex;
  height: 100vh;
  margin: 0;
}

#image{
  width: 40%;
  background-image: url("./daniil-korbut-xNc4mGTOPNc-unsplash.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat-y;
}

#form{
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

input+label{
  margin-left: 10rem;
}

div+div{
  margin-top: 2rem;
}